*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
/*nav bar*/
.nav-items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li a{
    color: black;
    text-decoration: none;
    font-weight: 700;

}
.navbar{
    background: #BAD7F2;
    width: 100vw;
    position: fixed;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
li{
    margin-right:50px;
}
ul{
    margin-right: 500px;
}
#logo{
    margin-left: 250px
}

/*hero*/
.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.writing{
    font-size: x-large;
    margin-left: 300px;
}
.btn1{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: #FFE347;
    border: none;
    margin-top: 40px;
    font-size: x-large;
}
.image{
    margin-top: 30px;
}
/*sec2*/
hr{
    width: 102px;
}
.grd1,.grd2,.grd3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sub1,.sub2,.sub3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EFF4;
    box-shadow: 2px 2px 2px;
    width: 200px;
    height: 150px;
    margin-top: 40px;
    border-radius: 10px;
}
#ab1{
    color: black;
    text-decoration: none;
}
/*footer*/
footer{
    background-color: #3A3E3B;
    height: max-content ;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
div p a{
    color: white;
    text-decoration: none;
}
 @media(width<=600px){
   
    .navbar{
        width: 100vw;
    
    }
    #logo{
        margin-left: 30px;
        margin-right: 40px;
        font-size: larger;
    }
    .sec2 h2{
        margin-top:50px;
    }
    li{
        margin-right:20px;
        margin-left: 20px;
    }

    .writing{
        font-size: medium;
        margin-left: 10px;
        margin-top: 80px;
    } 
    .btn1{
        width: 200px;
    height: 40px;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 10px;
    }
    .image{
        display: none;
    }
    .sub1,.sub2,.sub3{
        width: 100px;
    height: 75px;
    gap: 10px;
    }
    footer{
        width: auto;
        height:auto;
        margin-top:100%;
    }
 }
 @media(600px<=width<=768px){
    .navbar{
        width: auto;
    height: 100px;
    }
    .nav-items li a{
        font-size: x-large;
    }
    #logo{
        margin-left: 30px;
        margin-right: 40px;
        font-size: xx-large;
    }
    li{
        margin-right:50px;
        margin-left: 50px;
    }
    .writing{
        font-size: xx-large;
        margin-left: 10px;
        margin-top: 250px;
    } 
    .btn1{
        width: 300px;
    height: 60px;
    font-size: xx-large;
    margin-top: 30px;
    margin-bottom: 500px;
    }
    .image{
        margin-top:250px;
    }
    footer{
        width: auto;
        height:auto;
        margin-top:100%;
    }
 }
 @media(768px<=width<=992px){
    .navbar{
        width: auto;
    
    }
    .nav-items li a{
        font-size: x-large;
    }
    #logo{
        margin-left: 30px;
        margin-right: 40px;
        font-size: xx-large;
    }
    li{
        margin-right:50px;
        margin-left: 30px;
    }
    ul{
        margin-left: 150px;
    }
    .writing{
        font-size: xx-large;
        margin-left: 30px;
        margin-top: 250px;
    } 
    .btn1{
        margin-bottom: 150px;
    }
    footer{
        width: auto;
        height:auto;
        margin-top:100%;
    }
 }
 @media(992px<=width<=1200px){
    .navbar{
        width: auto;
    }
    .nav-items li a{
        font-size: x-large;
    }
    #logo{
        margin-left: 30px;
        margin-right: 40px;
        font-size: xx-large;
    }
    ul{
        margin-left: 150px;
    }
    li{
        margin-right:50px;
        margin-left: 30px;
    }
    .writing{
        font-size: xx-large;
        margin-left: 30px;
        margin-top: 250px;
    } 
    .btn1{
        margin-bottom: 150px;
    }
    footer{
        width: auto;
        height:auto;
        margin-top:100%;
    }
}
@media(width>=1200px){
    .navbar{
        width: auto;
    }
    .nav-items li a{
        font-size: x-large;
    }
    #logo{
        margin-left: 50px;
        margin-right: 40px;
        font-size: xx-large;
    }
    ul{
        margin-left: 250px;
    }
    li{
        margin-right:50px;
        margin-left: 30px;
    }
    .writing{
        font-size: xx-large;
        margin-left: 50px;
        margin-top: 250px;
    } 
    .btn1{
        margin-bottom: 150px;
    }
    footer{
        width: auto;
        height:auto;
        margin-top:100%;
    }
}

 